{% extends 'base.html.twig' %}

{% block body %}
	<div class="container absolute-Center">
		<div class="row ">
				<div class="col-md-8 col-sm-offset-2 text-center">
					<h3>biblbufly@gmail.com</h3>
				</div>
		</div>
	</div>
	

{% endblock %}